.color_primary {
  color: #fbc74d;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-grey {
  background-color: rgb(59, 73, 85);
}

nav {
  height: 100vh;
  transition: transform 0.5s ease;
  width: 250px;
}

.nav-link {
  color: rgb(189, 200, 210);
}

.active {
  color: white;
}

.text-light-blue {
  color: rgb(189, 200, 210);
}

nav.active-navbar-btn {
  transform: translateX(-80%);
  transition: transform 0.5s ease;
}

@media (max-width: 720px) {
  nav.active-navbar-btn {
    transform: translateX(-80%);
    transition: transform 0.5s ease;
  }
}
