<nav class="pt-5 pe-4 ps-2 bg-grey text-white" [ngClass]="{'active-navbar-btn': navBarClosed }">
  <div class="d-flex gap-2 justify-content-end">
    <i class="fi fi-br-angle-double-left cursor-pointer" *ngIf="navBarClosed; else navBarOpened" (click) = "toggleNavbar()"></i>
    <ng-template #navBarOpened>
      <i class="fi fi-br-angle-double-right cursor-pointer" (click) = "toggleNavbar()"></i>
    </ng-template>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link d-flex gap-2" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fi fi-sr-file-invoice-dollar"></i>
        <p>Detail</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex gap-2" routerLink="/chart" routerLinkActive="active">
        <i class="fi fi-br-chart-line-up"></i>
        <p>Chart</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex gap-2" routerLink="/map" routerLinkActive="active">
        <i class="fi fi-sr-map"></i>
        <p>Map</p>
      </a>
    </li>
  </ul>
</nav>
