<div class="adding ms-5 d-flex flex-column justify-content-center align-items-center">
  <button class="btn btn-close fs-3 cancel-btn" routerLink="/"></button>
  <div class="d-flex gap-5 align-items-center">
    <div class="fs-3" id="expense" [class]="{'active':isExpense}" (click)="toExpense()">Expense</div>
    <div class="fs-3" id="income" [class]="{'active':isIncome}" (click)="toIncome()">Income</div>
  </div>
  <form class="d-flex flex-column gap-5 mt-5" #f="ngForm" (ngSubmit)="clickAddBtn(f)">
    <div class="icons row mt-3 text-center pt-3 pb-3">
      <div class="col-3 p-1" *ngFor="let icon of icons; let i = index">
        <i [ngClass]="" class="icon {{icon.className}}" (click)="clickIconHandler($event, icon)" [id]="icon.className"></i>
        <p class="mt-2">{{icon.name}}</p>
      </div>
    </div>
    <div class="row gap-3" *ngIf="selectedIcon">
      <div class="col userInput">
        <label>
          <div class="d-flex justify-content-center"><i class="fi fi-rr-edit me-2"></i>Note:</div>
        </label>
        <input type="text" class="ps-2 pb-2" name="note" [ngModel]="record.note">
      </div>
      <div class="col userInput">
        <label>
          <div class="d-flex justify-content-center"><i class="fi fi-rr-piggy-bank me-2"></i>Amount:</div>
        </label>
        <input type="number" step="0.01" class="ps-2 pb-2" name="amount" [ngModel]="record.amount | numberFormat:'absolute'" required>
      </div>
      <div class="col userInput">
        <input type="date" class="ps-2 pb-2" name="date" [ngModel]="record.date" required>
      </div>
    </div>
    <button class="btn btn-dark mt-5" [disabled]="!f.valid" *ngIf="selectedIcon">{{submitButtonName}}</button>
  </form>
</div>
