<div class="adding ms-5 mt-5 d-flex flex-column justify-content-center align-items-center">
  <div class="d-flex gap-5 ">
    <div class="fs-3"><a class="">Expense</a></div>
    <div class="fs-3"><a>Income</a></div>
  </div>
  <form class="d-flex flex-column gap-5 mt-5" #f="ngForm" (ngSubmit)="clickAddBtn(f)">
    <div class="icons row mt-3 text-center pt-3 pb-3">
      <div class="col-2 p-1" *ngFor="let icon of icons; let i = index">
        <i [ngClass]="icon.className" class="icon" (click)="clickIcon($event, icon)" [id]="icon.address"></i>
        <p class="mt-2">{{icon.name}}</p>
      </div>
    </div>
    <div class="row gap-3" *ngIf="iconClicked">
      <div class="col userInput">
        <label>
          <div class="d-flex justify-content-center"><i class="fi fi-rr-edit me-2"></i>Note:</div>
        </label>
        <input type="text" class="ps-2 pb-2" name="note" ngModel>
      </div>
      <div class="col userInput">
        <label>
          <div class="d-flex justify-content-center"><i class="fi fi-rr-piggy-bank me-2"></i>Amount:</div>
        </label>
        <input type="number" class="ps-2 pb-2" name="amount" ngModel required>
      </div>
      <div class="col userInput">
        <input type="date" class="ps-2 pb-2" name="date" ngModel required>
      </div>
    </div>
    <button class="btn btn-dark mt-5" [disabled]="!f.valid" *ngIf="iconClicked">Add</button>
  </form>
</div>
